/* CSS for Corporations page */

.sponsor-padding {
  padding: 0px 0px 24px 0px !important;
  margin: 0px !important;
}

.corp-button {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.corp-logo {
  width: 100% !important;
  height: 15rem !important;
  object-fit: cover;
}
